{#
/**
 * @file
 * Custom theme implementation to display an entity view wrapped in a div
 * with all markup and attributes required to make contextual links work.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the entity if available.
 * - content: Actually, we can pass any valid render array here.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
<div{{- attributes -}}>
  {{- title_prefix -}}
  {% if label %}
    <h2{{- title_attributes -}}>{{- label -}}</h2>
  {% endif %}
  {{- title_suffix -}}
  {% block content %}
    {{- content -}}
  {% endblock %}
</div>
